.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.center {
  flex: 1;
  overflow-y: auto;
  padding: 10px;

}

.messages {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.own {
  justify-content: flex-end; /* Align own messages to the right */
}

.other {
  justify-content: flex-start; /* Align other messages to the left */
}

.texts {

  border-radius: 5px;
  padding: 10px;
  max-width: 60%;
  position: relative;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
}

.bottom {
  display: flex;
  align-items: center;
  padding: 10px;

}

.bottom input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sendButton {
  margin-left: 10px;
}

.emoji {
  position: relative;
}

.picker {
  position: absolute;
  bottom: 50px; /* Adjust as needed */
  left: 0;
  z-index: 10;
}
