.chatList {
    max-height: 400px; /* Set a fixed height for the chat list container */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
    padding: 10px;
  }
  
  .search {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  
  .searchBar {
    flex: 1;
    background-color: rgba(17, 25, 40, 0.5);
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    height: 30px;
    padding: 10px;
  }
  
  .searchBar input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    flex: 1;
  }
  
  .searchBar img {
    width: 20px;
    height: 20px;
  }
  
  .add {
    width: 36px;
    height: 36px;
    background-color: rgba(17, 25, 40, 0.5);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    gap: 15px;
    border-bottom: 1px solid rgba(191, 191, 191, 0.1); /* Optional: Add separation between items */
  }
  
  .userInfo {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .userInitials {
    width: 40px; /* Set width for initials circle */
    height: 40px; /* Set height for initials circle */
    background-color: rgba(0, 123, 255, 0.5); /* Background color for initials */
    border-radius: 50%; /* Circular shape */
    display: flex;
    align-items: center;
    justify-content: center; /* Center the initials */
    color: white; /* Text color for initials */
    font-weight: bold; /* Make initials bold */
    font-size: 18px; /* Font size for initials */
  }
  
  .textUser {
    color: white;
    padding: 10px;
  }
  
  .textUser span {
    font-size: 14px; /* Font size for username */
    font-weight: bold; /* Make username bold */
  }
  