.details {
  flex: 1;
  background-color: #1e2a47;
  color: white;
  display: flex;
  flex-direction: column;

  .user {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #dddddd35;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      border: 3px solid #5183fe;
    }

    h2 {
      font-size: 24px;
      margin: 0;
      color: #ffffff;
    }

    p {
      font-size: 16px;
      color: lightgray;
    }
  }

  .info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .option {
      border-bottom: 1px solid #dddddd35;
      padding-bottom: 10px;

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        span {
          font-size: 18px;
          font-weight: bold;
          color: white;
        }

        img {
          width: 24px;
          height: 24px;
          background-color: rgba(17, 25, 40, 0.3);
          border-radius: 50%;
          padding: 5px;
          transition: background-color 0.3s ease, transform 0.3s ease;
        }

        img:hover {
          background-color: #5183fe;
          transform: scale(1.1);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        }
      }

      .photos {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;

        .photoItem {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .photoDetail {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
              width: 50px;
              height: 50px;
              border-radius: 5px;
              object-fit: cover;
            }

            span {
              color: lightgray;
              font-size: 14px;
              font-weight: 300;
            }
          }

          .icon {
            width: 30px;
            height: 30px;
            padding: 5px;
            background-color: rgba(17, 25, 40, 0.3);
            border-radius: 50%;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.3s ease;
          }

          .icon:hover {
            background-color: #5183fe;
            transform: scale(1.1);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
          }
        }
      }
    }

    button {
      background-color: #ff4d4d;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: #d33d3d;
    }
  }
  
 }